sudo: required
language: bash
services: docker

matrix:
  include:
    - env: VERSION=0.14.0.4 BUILD_PATH=0.14
    - env: VERSION=0.14.0.4 BUILD_PATH=0.14/alpine

branches:
  only:
  - master

script:
  - make build
  - make test

after_script:
  - docker images

before_deploy:
  - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
  - make tags

deploy:
  provider: script
  script: make publish
  on:
    branch: master
