sudo: required
language: bash
services: docker

env:
  global:
  - VERSION=0.13.2.0
  matrix:
  - BUILD_PATH=0.13
  - BUILD_PATH=0.13/alpine

branches:
  only:
  - master

script:
  - make build
  - make test

after_script:
  - docker images

before_deploy:
  - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
  - make tags

deploy:
  provider: script
  script: make publish
  on:
    branch: master
